/* link ainda não visitado */
a:link {
    color: green;
  }
  
  /*  link visitado */
  a:visited {
    color: green;
  }
  
  /* mouse sobre o link */
  a:hover {
    color: red;
  }
  
  /* Link clicado */
  a:active {
    color: yellow;
  }